{__NOLAYOUT__}
<layout name="Pub/layout2" />
	<title>填写核对订单信息</title>
	<link rel="stylesheet" href="{:C('CSS_URL')}base.css" type="text/css">
	<link rel="stylesheet" href="{:C('CSS_URL')}global.css" type="text/css">
	<link rel="stylesheet" href="{:C('CSS_URL')}header.css" type="text/css">
	<link rel="stylesheet" href="{:C('CSS_URL')}fillin.css" type="text/css">
	<link rel="stylesheet" href="{:C('CSS_URL')}footer.css" type="text/css">

	<script type="text/javascript" src="{:C('JS_URL')}jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="{:C('JS_URL')}cart2.js"></script>




	<!-- 主体部分 start -->
<form action="" method="post">
	<div class="fillin w990 bc mt15">
		<div class="fillin_hd">
			<h2>填写并核对订单信息</h2>
		</div>

		<div class="fillin_bd">
			<!-- 收货人信息  start-->
			<div class="address">
				<h3>收货人信息 <a href="javascript:;" id="address_modify">[修改]</a></h3>
				<div class="address_select ">
					<ul>
						<li class="cur">
							<input type="radio" name="cgn_id" checked="checked" value="32" />王超平 北京市 昌平区 建材城西路金燕龙办公楼一层 13555555555
							<a href="">设为默认地址</a>
							<a href="">编辑</a>
							<a href="">删除</a>
						</li>
						<li>
							<input type="radio" name="cgn_id"  value="35" />王超平 湖北省 武汉市  武昌 关山光谷软件园1号201 13333333333
							<a href="">设为默认地址</a>
							<a href="">编辑</a>
							<a href="">删除</a>
						</li>
					</ul>
					<a href="" class="confirm_btn"><span>保存收货人信息</span></a>
				</div>
			</div>
			<!-- 收货人信息  end-->

			<!-- 配送方式 start -->
			<!-- 配送方式 end --> 

			<!-- 支付方式  start-->
			<div class="pay">
				<h3>支付方式 <a href="javascript:;" id="pay_modify" >[修改]</a></h3>
				<div class="pay_info">
					<p>货到付款</p>
				</div>

				<div class="pay_select none">
					<table> 
						<tr class="cur">
							<td class="col1"><input type="radio" name="order_pay" checked="checked"  value="0"/>支付宝</td>

						</tr>
						<tr>
							<td class="col1"><input type="radio" name="order_pay" value="1" />微信</td>
						</tr>
						<tr>
							<td class="col1"><input type="radio" name="order_pay" value="2" />银行卡</td>
						</tr>
					</table>
					<a href="" class="confirm_btn"><span>确认支付方式</span></a>
				</div>
			</div>
			<!-- 支付方式  end-->

			<!-- 发票信息 start-->
			<div class="receipt">
				<h3>发票信息 <a href="javascript:;" id="receipt_modify">[修改]</a></h3>
				<div class="receipt_info">
					<p>个人发票</p>
					<p>内容：明细</p>
				</div>

				<div class="receipt_select none">

						<ul>
							<li>
								<label for="">发票抬头：</label>
								<input type="radio" name="order_fapiao_title" checked="checked" class="personal"  value="0"/>个人
								<input type="radio" name="order_fapiao_title" class="company" value="1" />单位
								<input type="text" class="txt company_input"  />
							</li>
							<li>
								<label for="">发票公司：</label>
								<input type="radio"   class="company" />
								<input type="text" class="txt order_fapiao_company"name="order_fapiao_company"  />
							</li>
							<li>
								<label for="">发票内容：</label>
								<input type="radio" name="order_fapiao_content" checked="checked"  value="明细"/>明细
								<input type="radio" name="order_fapiao_content"  value="办公用品"/>办公用品
								<input type="radio" name="order_fapiao_content"  value="体育休闲"/>体育休闲
								<input type="radio" name="order_fapiao_content" value="耗材" />耗材
							</li>
						</ul>						

					<a href="" class="confirm_btn"><span>确认发票信息</span></a>
				</div>
			</div>
			<!-- 发票信息 end-->

			<!-- 商品清单 start -->
			<div class="goods">
				<h3>商品清单</h3>
				<table>
					<thead>
						<tr>
							<th class="col1">商品</th>
							<th class="col2">规格</th>
							<th class="col3">价格</th>
							<th class="col4">数量</th>
							<th class="col5">小计</th>
						</tr>	
					</thead>
					<tbody>
					<foreach name="cartinfo" item="v">
						<tr>
							<td class="col1"><a href=""><img src="{$v.logo|substr=1}" alt="" /></a>  <strong><a href="">{$v.goods_name}</a></strong></td>
							<td class="col2"> <p>颜色：073深红</p> <p>尺码：170/92A/S</p> </td>
							<td class="col3">￥{$v.goods_price}</td>
							<td class="col4"> {$v.goods_buy_number}</td>
							<td class="col5"><span>￥{$v.goods_total_price}</span></td>
						</tr>

					</foreach>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<ul>
									<li>
										<span>{$number_price.number}件商品，总商品金额：</span>
										<em>￥{$number_price.price}</em>
									</li>
								</ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- 商品清单 end -->
		
		</div>

		<div >
			<a href=""><span><input type="submit" value="提交订单"></span></a>
			<p>应付总额：<strong>￥{$number_price.price}元</strong></p>
			
		</div>
	</div>
	<!-- 主体部分 end -->

</form>


